<a href="https://colab.research.google.com/github/hrai/research-project/blob/master/Response_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import seaborn as sns
from pandas import DataFrame
import matplotlib.pyplot as plt


url='https://raw.githubusercontent.com/hrai/research-project/master/responce-accuracy.csv'

df = pd.read_csv(url)
df.columns

Index(['Question', 'Translation', 'Score'], dtype='object')

In [10]:
rows, cols = df.shape
print('total rows - {}'.format(rows))
print('total cols - {}'.format(cols))

total rows - 145
total cols - 3

In [11]:
df.head(10)

               Question           Translation     Score
0        Are you famous        you are famous  0.714286
1        Are you famous        timi is famous  0.571429
2        Are you famous        you are famous  0.714286
3        Are you famous       timmy is famous  0.551724
4        Are you famous        timy is famous  0.571429
5        Are you famous        you are famous  0.714286
6        Are you famous       teami is famous  0.620690
7        Are you famous       timhi is famous  0.551724
8        Are you famous       timie is famous  0.620690
9  Can you dance for me  can you dance for me  0.950000

In [16]:
group_by_question = df.groupby(by=['Question'])
group_by_question.head(1)

                                     Question  ...     Score
0                              Are you famous  ...  0.714286
9                        Can you dance for me  ...  0.950000
19                      Do you like my friend  ...  0.871795
29                           Do you like dogs  ...  0.606061
39                      Where is the bathroom  ...  0.418605
49                      Where is the pharmacy  ...  0.457143
59                              Can you fight  ...  0.384615
69                       Why do you talk slow  ...  0.350000
79           Do you know about current events  ...  0.407407
89                          What do you drink  ...  0.941176
99                               Are you rich  ...  0.666667
105              Where is the closest station  ...  0.603774
115             Can you speak other languages  ...  0.736842
125                     Do you know first aid  ...  0.457143
135  Where in Australia do you want to travel  ...  0.560976

[15 rows x 3 columns]